<p>
Witamy na stronie firmy usługowo handlowej BIS-CAR Jarosław Ciszak. 

Zachęcamy do zapoznania się i skorzystania z naszej bogatej oferty. Zapewniamy dużą elastyczność i indywidualne podejście do każdego klienta.

Dysponujemy ogromnym kapitałem doświadczenia i rzetelności, o czym przekonali się nasi Klienci.

Mamy nadzieję, że strona ta dostarczy wszelkich poszukiwanych informacji. W przypadku jakichkolwiek pytań prosimy o kontakt -  udzielimy Państwu wyczerpujących odpowiedzi.
</p>