<h1>Witamy#o_firmie</h1>
<p>Zakład Mechaniki Pojazdowej BIS-CAR istnieje na rynku usług samochodowych od roku 1994. Świadczy usługi w zakresie obsługi i naprawy samochodów osobowych i dostawczych. Do naprawianych samochodów zapewniamy oryginalne i tańsze zamienniki renomowanych firm. Jesteśmy autoryzowanym przedstawicielem koncernu olejowego Mobil. Prowadzimy komputerową bazę danych naprawianych u nas pojazdów. Usługi wykonywane są szybko i solidnie. Wystawiamy faktury VAT. Dla firm przelewy, odroczone terminy płatności - ceny do negocjacji (po zawarciu umowy).
</p>
