<h1>Witamy#oferta</h1>
<p>
Podstawową działalnością usługową firmy jest mechanika pojazdowa.

Posiadamy urządzenie: do diagnostyki elektroniki DELPHI, urządzenie do klimatyzacji, wyważarkę kół.
Usługi w zakresie:
• Obsługa samochodów osobowych i dostawczych, głównie marek zachodnich,
• Przeglądy bieżące (pogwarancyjne),
• Obsługa flot,
• Naprawy silników benzynowych i wysokoprężnych (Diesel) i naprawy główne (kapitalne),
• Naprawy zawieszenia, wymiana drążków kierowniczych, amortyzatorów, sprężyn,
• Naprawy układów hamulcowych, naprawa i wymiana sprzęgła, wymiany klocków, szczęk i tarcz hamulcowych,
• Naprawy głowic silników i układów zasilania silnika,
• Diagnostykę i naprawę układów zapłonowych, wtryskowych,
• Kontrola szczelności instalacji klimatyzacji,
• Odgrzybianie metodą ultradźwiękową Airco-Clean, ozonowanie,
• Napełnianie czynnika chłodzącego w instalacji klimatyzacji,
• Naprawa układów klimatyzacji,
• Wymiana opon, wyważanie kół - przechowywanie opon - 50 zł/sezon,
• Montaż i naprawy układu wydechowego,
• Alternatory, rozruszniki -naprawa.
Prowadzimy również własną bazę danych klientów i serwisowanych aut. Dzięki temu na bieżąco mamy całą historię naprawy auta.

________________________________________

Za świadczone usługi i sprzedaż części, wystawiamy faktury VAT.
</p>
