<h1>Hello World!</h1>
<p>to jest jakis tekst</p>
<div class="jumbotron">
  <h1>Witaj w mojej aplikacji!</h1>
  <p>jakis tam sobie tekst</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://heavyeditorial.files.wordpress.com/2016/05/gettyimages-465788664.jpg?quality=65&strip=all&w=780&strip=all" >
    </a>      
  </div>  
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
    <img src="http://thehill.com/sites/default/files/blogs/clintonhillary_091915getty.jpg" >
    </a>      
  </div>
</div>
